.root {
  display: flex;
  flex-direction: column;
}

.media {
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

@media screen and (min-width: 700px) {
  .media {
    width: 400px;
    height: 530px;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.content > * {
  margin: 10px 0;
}

.button {
  color: white;
}

.button a {
  color: white;
}
