.root {
  display: flex;
}

.media {
  width: 100%;
  max-width: 400px;
  height: fit-content;
  display: block;
  object-fit: contain;
}

@media screen and (max-width: 900px) {
  .root {
    flex-direction: column;
    max-width: 500px;
  }
  .media {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content > * {
  margin: 10px 0;
}

.button {
  color: white;
}

.button a {
  color: white;
}
