.root {
  display: flex;
  flex-wrap: wrap;
}

.media {
  width: 150px;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  .media {
    min-width: 150px;
    width: 100%;
  }
}

.content {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
