.root {
  width: 100%;
  padding: 40px 0;
  color: #000;
}

.hero {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.button {
  color: #fff;
}

.button a {
  color: #fff;
}

@media screen and (max-width: 400px) {
  .sortGrid {
    display: flex;
    flex-wrap: nowrap !important;
    -webkit-box-flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column !important;
    -webkit-box-flex-direction: column;
  }
}
